.carousel-item-owl{
  margin-top: 18px;
  position: relative;
  overflow: hidden;
  height: 860px;
  margin-bottom: 65px;
}

.img-wrapper {
  position: relative;
  height: 100%;
}

.owl-lazy {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 2s ease-out, filter 5s ease-out;
}

.owl-lazy:hover {
  animation-name: zoom-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.owl-lazy:not(:hover) {
  animation-name: zoom-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.carousel-item-overlay-owl {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-image: linear-gradient(
    to bottom,
    rgba(32, 32, 32, 0) 0%,
    rgba(32, 32, 32, 0.7) 50%,
    rgba(32, 32, 32, 1) 100%
  );
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  box-sizing: border-box;
}

.carousel-item-owl:hover .carousel-item-overlay-owl {
  opacity: 1;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 15px;
}

.genres {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.genre {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  background-color: #784390;
  color: #fff;
  border-radius: 30px;
  margin-right: 15px;
  margin-bottom: -4px;
  position: relative;
  overflow: hidden;
  transition: background-color 0.6s ease;
}

.genre::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0) 80%
  );
  transform: translate(-10%, -10%);
  opacity: 0;
  transition: opacity 0.6s ease;
}

.genre:hover {
  background-color: #cfa61c;
}

.genre:hover::before {
  opacity: 1;
}

.overview {
  font-size: 20px;
  color: #fff;
  margin-bottom: 5px;
  width: 40%;
}

.trailer {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #784390;
  border: none;
  padding: 10px 15px;
  border-radius: 30px;
  margin-top: 5px;
  transition: background-color 0.2s ease;
  text-decoration: none;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.trailer:hover {
  background-color: #8b5bb0;
}

.circle-wrapper {
  display: flex;
  align-items: center;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  margin-right: 10px;
  background-color: green;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.circle:hover {
  background-color: rgb(17, 180, 17);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.04);
}

.vote {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.info {
  margin-left: 1rem;
  display: inline-block;
  background-color: #cfa61c;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  transition: background-color 0.2s ease;
  text-decoration: none;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.info:hover {
  background-color: #8b5bb0;
}

@keyframes zoom-in {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

@keyframes zoom-out {
  from {
    transform: scale(1.1);
  }

  to {
    transform: scale(1);
  }
}