<div class="carousel-container" style="margin-top: 80px;">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide *ngFor="let serie of series">
      <div class="carousel-item">
        <div class="img-wrapper">
          <img class="owl-lazy" [src]="'https://image.tmdb.org/t/p/original/' + serie.backdrop_path"
            alt="{{ serie.name }}">
        </div>
        <div class="carousel-item-overlay">
          <h3 class="title">{{ serie.name }}</h3>
          <div class="circle-wrapper">
            <div class="circle">
              <p class="vote">{{ serie.vote_average }}</p>
            </div>
            <div class="genres">
              <div class="genre" *ngFor="let genero of serie.genre_ids">
                <span>{{ getGeneroById(genero) }}</span>
              </div>
            </div>
          </div>
          <p class="overview">{{ serie.overview | slice:0:225 }}{{ serie.overview.length > 225 ? '...' : '' }}</p>
          <button class="trailer" (click)="reproducirTrailer(serie)">
            <fa-icon [icon]="faPlay"></fa-icon>&nbsp;&nbsp;Ver Trailer
          </button>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>