body {
  margin: 0;
  padding: 0;
}

.mat-option-text {
  color: white;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: black;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
}

.logo-container {
  width: 96px;
  height: 96px;
  margin-right: 24px;
}

.logo {
  width: 100%;
  height: 100%;
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav-container a {
  margin-right: 16px;
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
}

.nav-container a:hover {
  background-color: #8b008b41;
  border-radius: 5px;
  transition: 0.8s ease-in-out;
}

.search-icon,
.login-button,
.theme-toggle {
  color: whitesmoke;
  cursor: pointer;
}

.search-icon {
  margin-right: 8px;
  font-size: 24px;
}

.login-button {
  margin-right: 8px;
  background-color: #8b008b;
  border-radius: 25px;
  padding: 8px 16px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.login-button:hover {
  background-color: whitesmoke;
  color: #333;
}

.search-container {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 2;
}

.search-input {
  border-radius: 20px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 8px 36px 8px 8px;
  z-index: 1;
}

.search-container {
  margin-right: 20px;
}

.search-input:focus {
  outline: none;
}

.search-results-container {
  display: flex;
  flex-direction: column;
  position: absolute;

  top: 100%;
  left: 0;
  width: 100%;
  background-color: #8b008b41;
  border-radius: 5px;
  z-index: 1;
  color: white;
}
