<mat-toolbar>
  <div *ngIf="isSearchDialogOpen" class="overlay"></div>
  <div class="header-left">
    <div class="logo-container">
      <img class="logo" src="../../../assets/logos-filmmento_1024_Mesa de trabajo 1.png" alt="Logo">
    </div>
    <div class="nav-container">
      <a mat-button routerLink="/">Home</a>
      <a mat-button routerLink="/movies" routerLinkActive="active-link">Películas</a>
      <a mat-button routerLink="/series">Series TV</a>
    </div>
  </div>
  <div class="header-right">
    <button mat-icon-button routerLink="/search">
      <mat-icon>search</mat-icon>
    </button>
    <button mat-button class="login-button" routerLink="/login">Iniciar sesión</button>
  </div>
</mat-toolbar>