<div class="container">
  <div class="backdrop" [style.background-image]="getBackdropPath()"></div>
  <div class="row first-row">
    <div class="col-md-6">
      <img *ngIf="detalle" src="{{ getPoster() }}" alt="{{ esPelicula ? detalle.title : detalle.name }}"
        class="img-fluid">
    </div>
    <div class="col-md-6" *ngIf="detalle">
      <h1>{{ tipo === 'movie' ? detalle.title : detalle.name }}</h1>
      <p>Puntuación: {{ (detalle.vote_average.toFixed(2)).length > 3 ? (detalle.vote_average.toFixed(2)).slice(0, 3) :
        detalle.vote_average.toFixed(2) }}</p>
      <p>Géneros: {{ getGeneros()}}</p>
      <p>{{ detalle.overview }}</p>
      <button class="btn btn-primary">Añadir a favoritos</button>
      <button class="btn btn-primary" (click)="getTrailer(tipo, detalle.id)">Mostrar trailer</button>
      <p>Actores</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Trailers</h2>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe [src]="trailerUrl" allowfullscreen></iframe>
      </div>
    </div>
  </div>

</div>