<app-carousel-series></app-carousel-series>
<div class="container">
  <div class="movie-header">
    <h2 class="movie-title">Series</h2>
    <div class="movie-buttons">
      <mat-chip-listbox aria-label="Selector categoria">
        <mat-chip-option class="movie-button" (click)="seleccionarOpcion('popular')">Popular</mat-chip-option>
        <mat-chip-option class="movie-button" (click)="seleccionarOpcion('top-rated')">Mejor valoradas</mat-chip-option>
      </mat-chip-listbox>
    </div>
  </div>
  <div class="movie-grid">
    <div *ngFor="let serie of series" class="movie-item">
      <img [src]="'https://image.tmdb.org/t/p/original/' + serie.poster_path" alt="{{ serie.name }}">
      <div class="movie-overlay">
        <button class="trailer"><fa-icon [icon]="faPlay"></fa-icon></button>
        <button class="info" (click)="verDetalles('tv', serie.id)"><fa-icon [icon]="faInfo"></fa-icon></button>
        <div class="movie-details">
          <p class="movie-rating">{{ serie.vote_average }}</p>
          <p class="movie-year">{{ serie.first_air_date | date:'yyyy' }}</p>
          <p class="movie-title">{{ serie.name | slice:0:21 }}{{ serie.name.length > 21 ? '...' : '' }}</p>
        </div>
      </div>
    </div>
  </div>
  <a class="load-more" (click)="mostrarMasSeries()">Cargar más</a>
</div>