@import "~bootstrap/dist/css/bootstrap.css";

body {
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
}

app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

app-carousel {
  margin-top: 180px;
  position: relative;
  z-index: 1;
}

/*
.modal-open {
  overflow: hidden;
}
*/

.custom-autocomplete-panel {
  width: 100% !important;
  max-height: 200px !important;
  overflow-y: auto !important;
}
