.linea {
    height: 8px;
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #784390;
}

.carousel-container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: left;
}

.custom-img-container {
    position: relative;
}

.trailer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: none;
    background-color: #784390;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #333;
    transition: all 0.3s ease-in-out;
}

.trailer:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #fff;
}

.movie-details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 5px;
}

.movie-details p {
    margin: 5px 0;
    padding: 10px;
}

.movie-overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(32, 32, 32, 0) 0%, rgba(32, 32, 32, 0.7) 50%, rgba(32, 32, 32, 1) 100%);
    transition: opacity 0.3s ease-in-out;
    font-weight: bold;
}

.carousel-item:hover .movie-overlay {
    opacity: 1;
}
